.main
  .questions-wrapper
    .container
      .heading
        .questions
          - @problem = Problem.find_by(task_id: params[:task_id])

          h2
            = @problem.contest_id.upcase + ": " + @problem.title

          - @question.errors.full_messages.each do |message|
            .form-error
              = message

          = form_tag("/problems/#{@problem.task_id}/questions/create") do
            p
              | Title (up to 36 characters)
            input[name="title" value="#{@title}"]

            p
              | URL
            input[name="url"]

            p
              | Descriptions (up to 140 characters)
            textarea[name="content"]
              = @content

            p
            input[type="submit" value="Submit"]
            input[type="button" value="Back" onclick="history.back()"]
