li {
    list-style: none;
}

header {
    background-color: black;
    color: white;
    height: 90px;
}

.header-logo {
    float: left;
    font-size: 32px;
    padding: 20px 40px;
}

.header-list li {
    float: right;
    padding: 33px 20px;
}

footer span {
    display: block;
    margin: 0 auto;
    text-align: center;
}
