li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

header {
    background-color: black;
    color: white;
    height: 90px;
    position: relative;
}

.header-logo {
    float: left;
    font-size: 32px;
    padding: 20px 40px;
}

.header-list {
    font-size: 18px;
    position: absolute;
    right: 0;
}

.header-list ul {
    display: flex;
    margin: 33px;
}

.header-list li {
    padding: 0px 20px;
}

footer span {
    display: block;
    margin: 0 auto;
    text-align: center;
}
