<div class="main">
  <div class="problems-wrapper">
    <div class="container">
      <div class="heading">
        <div class="problems">
          <h2><%= @problem.contest_id.upcase + ": " + @problem.title %></h2>
          <%# TODO: 質問の一覧を表示 %>
          <%# TODO: 入力フォームを用意 %>
          <a href=<%= "/problems/" %> class="btn">◀ Return to list</a>
        </div>
      </div>
    </div>
  </div>
</div>
