<div class="main">
  <div class="problems-wrapper">
    <div class="container">
      <div class="heading">
        <div class="problems">
          <h2><%= @problem.contest_id.upcase + ": " + @problem.title %></h2>
          <a href=<%= "/problems/#{@problem.contest_id}/questions/new" %> class="btn">New Question</a>

          <%# FIXME: CSSで配置を調整する %>
          <br>
          <br>

          <!-- HACK: erbファイルに直接モデル名を記述していいのか? -->
          <%# DBから該当する問題の質問のみ抽出 %>
          <% @questions = Question.where(task_id: @problem.task_id) %>

          <table border="1" width="100%">
            <tr>
              <th>Questions</th>
            </tr>

            <tbody>
              <% @questions.each do |question| %>
                <tr>
                  <%# TODO: 質問にリンクを貼る %>
                  <%# TODO: 質問を左寄せする %>
                  <td><%= question.content %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <br>
          <%# TODO: 入力フォームを用意 %>
          <a href=<%= "/problems/" %> class="btn">◀ Return to list</a>
        </div>
      </div>
    </div>
  </div>
</div>
