<div class="main">
  <div class="problems-wrapper">
    <div class="container">
      <div class="heading">
        <div class="problems">
          <h2><%= @problem.contest_id.upcase + ": " + @problem.title %></h2>
          <a href="#" class="btn">New Question</a>

          <%# FIXME: CSSで配置を調整する %>
          <br>
          <br>

          <%# TODO: 質問の一覧をDBから抽出して表示 %>
          <%# TODO: DBから該当する問題の質問のみ抽出する %>
          <%# TODO: そもそも，問題ごとにデータを保存すればスマートに解決できるのでは? %>
          <% questions = ["公式解説のx分～y分の解説はどうやって思いつく?",
                          "hoge法の実装で，fooはどんな処理をしている?",
                          "xxxさんの解法を知りたいです．"] %>

          <table border="1" width="100%">
            <tr>
              <th>Questions</th>
            </tr>

            <tbody>
              <% questions.each do |question| %>
                <tr>
                  <%# TODO: 質問にリンクを貼る %>
                  <%# TODO: 質問を左寄せする %>
                  <td><%= question %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <br>
          <%# TODO: 入力フォームを用意 %>
          <a href=<%= "/problems/" %> class="btn">◀ Return to list</a>
        </div>
      </div>
    </div>
  </div>
</div>
