<div class="main">
  <div class="users-wrapper">
    <div class="container">
      <div class="heading">
        <div class="users">
          <h2>User list</h2>

          <% @users.each do |user| %>
            <p>
              <%= user.name %>
            </p>
            <p class="dividing-line">
              <%= user.created_at %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
