
<div class="main">
  <div class="users-wrapper">
    <div class="container">
      <div class="heading">
        <div class="users">
          <h2>Log in</h2>

          <!-- エラーメッセージがあれば表示 -->
          <!-- TODO: 日本語も併記 -->
          <% if @error_message %>
            <div class="form-error">
              <%= @error_message %>
            </div>
          <% end %>

          <%= form_tag("/login") do %>
            <p>
              <label>User name:</label>
              <input name="name" value="<%= @name %>">
            </p>
            <p>
              <label>Password:</label>
              <input type="password" name="password" value="<%= @password %>">
            </p>

            <input type="submit" value="Log in">
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
