.main
  .users-wrapper
    .container
      .heading
        .users
          h2
            = @user.name

          - if @current_user && @current_user.id == @user.id
            p
              = link_to("Edit", "/users/#{@user.id}/edit")
              = link_to("Delete", "/users/#{@user.id}/destroy", {method: "post"})

            / タブを追加

            / ダミーのページを用意

          p
            | Comming soon.
