<div class="main">
  <div class="users-wrapper">
    <div class="container">
      <div class="heading">
        <div class="users">
          <h2><%= @user.name %></h2>
          <p>
            <%= link_to("Edit", "/users/#{@user.id}/edit") %>
          </p>

          <p>Comming soon.</p>
        </div>
      </div>
    </div>
  </div>
</div>
