<div class="main">
  <div class="links-wrapper">
    <div class="container">
      <div class="heading">
        <h2>Links</h2>
      </div>

      <div class="links">
        <ul>
            <li><a href="https://atcoder.jp/">AtCoder</a></li>
            <li><a href="https://github.com/KATO-Hiro/AtCoderQAHubSandbox">GitHub</a></li>
            <li><a href="https://twitter.com/k_hiro1818">@hiro_hiro</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>