.main
  .links-wrapper
    .container
      .heading
        h2
          | Links
      .links
        ul
          li
            a[href="https://atcoder.jp/"]
              | AtCoder
          li
            a[href="https://github.com/KATO-Hiro/AtCoderQAHubSandbox"]
              | GitHub
          li
            a[href="https://twitter.com/k_hiro1818"]
              | @hiro_hiro
