
<div class="main">
  <div class="problems-wrapper">
    <div class="container">
      <div class="heading">
        <div class="problems">
          <div class="abc">
            <h2>AtCoder Beginner Contest</h2>
            <table border="1" width="100%">
              <col style="width:75%">
              <col style="width:10%">
              <col style="width:10%">
              <col style="width:5%">
              <thead>
                <tr>
                  <th>Problem</th>
                  <th>Questions</th>
                  <th>Answers</th>
                  <th>Room</th>
                </tr>
              </thead>
              <tbody>
                <%
                  contests = {}
                  contests[:abc131] = {type: "abc",
                                       name: "abc131",
                                       problems: {a: "A - Security",
                                                  b: "B - Bite Eating",
                                                  c: "C - Anti-Division",
                                                  d: "D - Megalomania",
                                                  e: "E - Friendships",
                                                  f: "F - Must Be Rectangular!"
                                                 }
                                      }
                  contests[:abc130] = {type: "abc",
                                       name: "abc130",
                                       problems: {a: "A - Rounding",
                                                  b: "B - Bounding",
                                                  c: "C - Rectangle Cutting",
                                                  d: "D - Enough Array",
                                                  e: "E - Common Subsequence",
                                                  f: "F - Minimum Bounding Box"
                                                 }
                                      }
                  contests[:abc129] = {type: "abc",
                                       name: "abc129",
                                       problems: {a: "A - Airplane",
                                                  b: "B - Balance",
                                                  c: "C - Typical Stairs",
                                                  d: "D - Lamp",
                                                  e: "E - Sum Equals Xor",
                                                  f: "F - Takahashi's Basics in Education and Learning"
                                                 }
                                      }
                  contests[:abc128] = {type: "abc",
                                       name: "abc128",
                                       problems: {a: "A - Apple Pie",
                                                  b: "B - Guidebook",
                                                  c: "C - Switches",
                                                  d: "D - equeue",
                                                  e: "E - Roadwork",
                                                  f: "F - Frog Jump"
                                                 }
                                      }
                  contests[:abc127] = {type: "abc",
                                       name: "abc127",
                                       problems: {a: "A - Ferris Wheel",
                                                  b: "B - Algae",
                                                  c: "C - Prison",
                                                  d: "D - Integer Cards",
                                                  e: "E - Cell Distance",
                                                  f: "F - Absolute Minima"
                                                 }
                                      }
                  contests[:abc126] = {type: "abc",
                                       name: "abc126",
                                       problems: {a: "A - Changing a Character",
                                                  b: "B - YYMM or MMYY",
                                                  c: "C - Dice and Coin",
                                                  d: "D - Even Relation",
                                                  e: "E - 1 or 2",
                                                  f: "F - XOR Matching"
                                                 }
                                      }
                  contests[:abc125] = {type: "abc",
                                       name: "abc125",
                                       problems: {a: "A - Biscuit Generator",
                                                  b: "B - Resale",
                                                  c: "C - GCD on Blackboard",
                                                  d: "D - Flipping Signs"
                                                 }
                                      }
                  contests[:abc124] = {type: "abc",
                                       name: "abc124",
                                       problems: {a: "A - Buttons",
                                                  b: "B - Great Ocean View",
                                                  c: "C - Coloring Colorfully",
                                                  d: "D - Handstand"
                                                 }
                                      }
                  contests[:abc123] = {type: "abc",
                                       name: "abc123",
                                       problems: {a: "A - Five Antennas",
                                                  b: "B - Five Dishes",
                                                  c: "C - Five Transportations",
                                                  d: "D - Cake 123"
                                                 }
                                      }
                  contests[:abc122] = {type: "abc",
                                       name: "abc122",
                                       problems: {a: "A - Double Helix",
                                                  b: "B - ATCoder",
                                                  c: "C - GeT AC",
                                                  d: "D - We Like AGC"
                                                 }
                                      }
                  contests[:abc121] = {type: "abc",
                                       name: "abc121",
                                       problems: {a: "A - White Cells",
                                                  b: "B - Can you solve this?",
                                                  c: "C - Energy Drink Collector",
                                                  d: "D - XOR World"
                                                 }
                                      }
                  contests[:abc120] = {type: "abc",
                                       name: "abc120",
                                       problems: {a: "A - Favorite Sound",
                                                  b: "B - K-th Common Divisor",
                                                  c: "C - Unification",
                                                  d: "D - Decayed Bridges"
                                                 }
                                      }
                %>

                <% atcoder = "https://atcoder.jp/contests/" %>

                <% contests.each do |contest_name, contest_attr| %>
                  <% contest_attr[:problems].each do |problem_id, problem_name| %>
                    <% url = atcoder + contest_name.to_s + "/tasks/" + contest_name.to_s + "_" + problem_id.to_s %>

                    <tr>
                      <td class="problem-name">
                        <a href=<%= url %> target="_blank"><%= contest_name.to_s.upcase + " " + problem_name %></a>
                      </td>
                      <td></td>
                      <td></td>
                      <td>
                        <a href="#" class="btn abc">Create</a>
                      </td>
                    </tr>

                  <% end %>
                <% end %>

              </tbody>
            </table>
          </div>

          <div class="arc">

          </div>

          <div class="agc">

          </div>

          <div class="other">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
