
<div class="main">
  <div class="problems-wrapper">
    <div class="container">
      <div class="heading">
        <div class="problems">
          <div class="abc">
            <h2>AtCoder Beginner Contest</h2>
            <table border="1" width="100%">
              <col style="width:75%">
              <col style="width:10%">
              <col style="width:10%">
              <col style="width:5%">
              <thead>
                <tr>
                  <th>Problem</th>
                  <th>Questions</th>
                  <th>Answers</th>
                  <th>Room</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc131/tasks/abc131_a" target="_blank">ABC131 A - Security</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc131/tasks/abc131_b" target="_blank">ABC131 B - Bite Eating</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc131/tasks/abc131_c" target="_blank">ABC131 C - Anti-Division</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc131/tasks/abc131_d" target="_blank">ABC131 D - Megalomania</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc131/tasks/abc131_e" target="_blank">ABC131 E - Friendships</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc131/tasks/abc131_f" target="_blank">ABC131 F - Must Be Rectangular!</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc130/tasks/abc130_a" target="_blank">ABC130 A - Rounding</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc130/tasks/abc130_b" target="_blank">ABC130 B - Bounding</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc130/tasks/abc130_c" target="_blank">ABC130 C - Rectangle Cutting</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc130/tasks/abc130_d" target="_blank">ABC130 D - Enough Array</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc130/tasks/abc130_e" target="_blank">ABC130 E - Common Subsequence</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc130/tasks/abc130_f" target="_blank">ABC130 F - Minimum Bounding Box</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc129/tasks/abc129_a" target="_blank">ABC129 A - Airplane</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc129/tasks/abc129_b" target="_blank">ABC129 B - Balance</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc129/tasks/abc129_c" target="_blank">ABC129 C - Typical Stairs</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc129/tasks/abc129_d" target="_blank">ABC129 D - Lamp</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc129/tasks/abc129_e" target="_blank">ABC129 E - Sum Equals Xor</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc129/tasks/abc129_f" target="_blank">ABC129 F - Takahashi's Basics in Education and Learning</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc128/tasks/abc128_a" target="_blank">ABC128 A - Apple Pie</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc128/tasks/abc128_b" target="_blank">ABC128 B - Guidebook</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc128/tasks/abc128_c" target="_blank">ABC128 C - Switches</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc128/tasks/abc128_d" target="_blank">ABC128 D - equeue</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc128/tasks/abc128_e" target="_blank">ABC128 E - Roadwork</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc128/tasks/abc128_f" target="_blank">ABC128 F - Frog Jump</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc127/tasks/abc127_a" target="_blank">ABC127 A - Ferris Wheel</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc127/tasks/abc127_b" target="_blank">ABC127 B - Algae</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc127/tasks/abc127_c" target="_blank">ABC127 C - Prison</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc127/tasks/abc127_d" target="_blank">ABC127 D - Integer Cards</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc127/tasks/abc127_e" target="_blank">ABC127 E - Cell Distance</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc127/tasks/abc127_f" target="_blank">ABC127 F - Absolute Minima</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc126/tasks/abc126_a" target="_blank">ABC126 A - Changing a Character</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc126/tasks/abc126_b" target="_blank">ABC126 B - YYMM or MMYY</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc126/tasks/abc126_c" target="_blank">ABC126 C - Dice and Coin</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc126/tasks/abc126_d" target="_blank">ABC126 D - Even Relation</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc126/tasks/abc126_e" target="_blank">ABC126 E - 1 or 2</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc126/tasks/abc126_f" target="_blank">ABC126 F - XOR Matching</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc125/tasks/abc125_a" target="_blank">ABC125 A - Biscuit Generator</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc125/tasks/abc125_b" target="_blank">ABC125 B - Resale</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc125/tasks/abc125_c" target="_blank">ABC125 C - GCD on Blackboard</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc125/tasks/abc125_d" target="_blank">ABC125 D - Flipping Signs</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc124/tasks/abc124_a" target="_blank">ABC124 A - Buttons</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc124/tasks/abc124_b" target="_blank">ABC124 B - Great Ocean View</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc124/tasks/abc124_c" target="_blank">ABC124 C - Coloring Colorfully</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc124/tasks/abc124_d" target="_blank">ABC124 D - Handstand</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc123/tasks/abc123_a" target="_blank">ABC123 A - Five Antennas</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc123/tasks/abc123_b" target="_blank">ABC123 B - Five Dishes</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc123/tasks/abc123_c" target="_blank">ABC123 C - Five Transportations</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc123/tasks/abc123_d" target="_blank">ABC123 D - Cake 123</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc122/tasks/abc122_a" target="_blank">ABC122 A - Double Helix</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc122/tasks/abc122_b" target="_blank">ABC122 B - ATCoder</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc122/tasks/abc122_c" target="_blank">ABC122 C - GeT AC</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc122/tasks/abc122_d" target="_blank">ABC122 D - We Like AGC</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc121/tasks/abc121_a" target="_blank">ABC121 A - White Cells</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc121/tasks/abc121_b" target="_blank">ABC121 B - Can you solve this?</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc121/tasks/abc121_c" target="_blank">ABC121 C - Energy Drink Collector</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc121/tasks/abc121_d" target="_blank">ABC121 D - XOR World</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc120/tasks/abc120_a" target="_blank">ABC120 A - Favorite Sound</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc120/tasks/abc120_b" target="_blank">ABC120 B - K-th Common Divisor</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc120/tasks/abc120_c" target="_blank">ABC120 C - Unification</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
                <tr>
                  <td class="problem-name"><a href="https://atcoder.jp/contests/abc120/tasks/abc120_d" target="_blank">ABC120 D - Decayed Bridges</a></td>
                  <td></td>
                  <td></td>
                  <td><a href="#" class="btn abc">Create</a></td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="arc">

          </div>

          <div class="agc">

          </div>

          <div class="other">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
