// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.questions__header {
  margin: 2% 1%;
  font-size: 16pt;
}

.questions {
}

.question {
  display: flex;
  margin: 1%;
}
.questions__left {
  float: left;
}

.questions__right {
  display: flex;
  margin-left: 3%;
}

.questions__bottom {
  margin-left: 3%;
}

.question__left {

}

.question__status {
  text-align: center;
  font-size: 16pt;
  color: rgb(108, 198, 68);
}

.question__right {
  margin-left: 1%;
  width: 100%;
}

.question__problem-info {
  text-align: left;
}

.question__problem-info--link {
  font-size: 14pt;
}

.question__problem-info--detail {
  margin: 2%;
}

.questions__title {
  text-align: left;
  font-size: 18pt;
  margin-right: auto;
}

.question__title {
  text-align: left;
  font-size: 18pt;
  display: flex;
}

.question__title >:last-child {
  margin-left: auto;
}

.question__post-info {
  text-align: left;
  font-size: 10pt;
}

.question__post-info--posted-user {
  font-size: 14pt;
}

.question__post-info--url {
  text-align: left;
  margin: 1% 0% 0% 0%;
  font-size: 11pt;
}

.question__post-info--detail {
  text-align: left;
  padding: 1% 0% 0% 0%;
  font-size: 11pt;
}

.question__answers--comment {
  color: white;
  // See:
  // https://chaika.hatenablog.com/entry/2017/03/27/142705
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 1px;
}

.question__answers--count {
  margin-left: 0.5%;
}

.question__posted-user--icon {

}

.question__change-button--detail {

}