doctype html
html
  head
    meta[charset="utf-8"]
    title
      | AtCoder QAHub
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    link[rel="stylesheet" href="app/assets/stylesheets/home.css"]
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  body
    header
      .header-logo
        a[href="/"]
          | AtCoder QAHub

      .header-list
        ul
          li
            a.home[href="/"]
              | Home
          li
            = link_to("Problems", "/problems")
          li
            = link_to("Questions", "/questions")
          li
            = link_to("Users", "/users")
          li
            a.about[href="/about"]
              | About
          li
            a.guideline[href="/guideline"]
              | Guideline

          - if @current_user
            li
              = link_to("#{@current_user.name}", "/users/#{@current_user.id}")
            li
              = link_to("Log out", "/logout", {method: "post"})
          - else
            li
              = link_to("Log in", "/login")
            li
              = link_to("Sign up", "/signup")
          li
            a.links[href="/links"]
              | Links

    .header-padding

    .flash-style
      - if flash[:notice]
        = flash[:notice]

    == yield

    footer
      span
        | Copyright © 2019 hiro_hiro, All Rights Reserved.
